<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Our Products</h1>
    <nav>
        <a href="/api/products">Home</a>
        <% products.forEach(function(category) { %>
            <a href="/api/products/<%= category.category.toLowerCase().replace(/\s+/g, '-') %>" class="nav-links"><%= category.category %></a>
        <% }) %>
    </nav>
    <div class="product-container">
        <!-- Outer iteration over categories -->
        <% products.forEach(function(category) { %>
            <h2><%= category.category %></h2>
            <!-- Inner iteration over items within each category -->
            <% category.items.forEach(function(product) { %>
                <!-- <a href="/api/products/<%= category.id %>/<%= product.id %>" class="cardLink"> // Ändrade denna för att använda category name istället för id, då blev URLen korrekt-->
                <a href="/api/products/<%= category.category.toLowerCase().replace(/\s+/g, '-') %>/<%= product.id %>" class="cardLink">
                    <div class="productCard">
                        <div class="placeholderForImage">
                            <img src="<%= product.image %>" alt="<%= product.productTitle %>">
                        </div>
                        <div class="containerTitles">
                            <div class="title">
                                <%= product.productTitle %>
                            </div>
                            <div class="subTitle">
                                <%= product.price ? '$' + product.price.toFixed(2) : 'Price Not Available' %> 
                            </div>
                        </div>
                    </div>
                </a>
            <% }) %>
        <% }) %>
    </div>
</body>
</html>
